@use "./../../Foundation/mixin" as *;

.c-sns {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  margin-top: 100px;
  &::after {
    content: 'shareしてね！';
    font-size: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -21px;
    left: 50%;
  }

}

.c-sns__item {
  border-radius: 8px;
  transition-duration: .2s;
  position: relative;
  will-change: transform;
  bottom: 0;
      &:hover {
    opacity: .8;
    bottom: 3px;
  }
  a {
    gap: 6px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    text-decoration: none;
    color: #77254d;
  }
  span {
    @include sp {
      display: none;
    }
  }
  &:hover {
    opacity: .7;
  }
}

.c-sns__icon {
  width: 34px;
  height: 34px;
}

.sidebar__profile__sns__tem {
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    padding: 4px;
    border-radius: 50%;
    background-color: #333;
    transition-duration: .2s;
    &:hover {
      opacity: .8;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}