@use "./../../Foundation/mixin" as *;

.c-sns {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.c-sns__item {
  border: 1px solid #333;
  border-radius: 8px;
  transition-duration: .2s;
  a {
    gap: 6px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    text-decoration: none;
    color: #77254d;
  }
  span {
    @include sp {
      display: none;
    }
  }
  &:hover {
    opacity: .7;
  }
}

.c-sns__icon {
  width: 22px;
  height: 22px;
}
