@use "./../../Foundation/mixin" as *;

.p-header {
  background-color: $header__bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  gap: 30px;
  background: rgb(255, 227, 60);

  // background: linear-gradient(140deg, rgba(166, 199, 142, .3) 0%, rgb(255, 248, 172) 12%, rgb(255, 255, 255) 100%);
  // box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);

  background: radial-gradient(#ffffff 0% 3%, rgba(255, 249, 230, 0.9803921569) 127% 60%);
  box-shadow: inset 0px 7px 65px 5px rgba(0, 0, 0, .5);

}

.p-header__title {
  font-size: 36px;
  color: #333;
  font-family: "マキナス 4 Flat";
  img {
    width: 100%;
  }
}

.p-header__list {
  display: flex;
  gap: 15px;
  @include tab2 {
    display: none;
  }
}

.p-header__items {
  font-size: 18px;
  color: #333;
}

