@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

div,
p,
.h1, .h2, .h3, .h4, .h5, .h6,
.row,
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  filter: sepia(25%);
}

body {
  font-family: "M PLUS Rounded 1c", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  background-color: rgba(166, 199, 142, 0.3);
  background-blend-mode: lighten;
  background-size: cover;
}

.c-wrapper {
  overflow-x: hidden;
  background-image: url(../img/bg_cover.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: difference;
  background-size: auto;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.is-fixed {
  overflow-y: hidden;
  touch-action: none;
}

.p-inner {
  width: 1280px;
  margin: 60px auto 0;
}
@media (max-width: 1300px) {
  .p-inner {
    margin-top: 30px;
    width: 96%;
  }
}

.p-inner__top {
  margin: 20px auto 0;
}

p, span, h1, h2, h3, h4, li {
  letter-spacing: 1.3px;
}

.p-main {
  display: flex;
  margin-top: 20px;
  line-height: 1.4;
}
@media (max-width: 1300px) {
  .p-main {
    flex-direction: column;
    width: 100%;
  }
}

.p-common__wrap {
  background-color: rgba(255, 245, 245, 0.99);
  padding: 60px 20px;
}

.p-common__heading__h3 {
  margin-top: 30px;
  font-size: 20px;
  border-left: 8px double #b13838;
  padding-left: 10px;
  font-weight: bold;
}

.p-privacypolicy__text {
  margin-top: 20px;
  line-height: 1.6;
  letter-spacing: 1.4px;
  font-size: 18px;
}

.p-common__list {
  list-style: circle;
  padding-left: 1.3em;
  margin-top: 30px;
}

.p-common__item {
  margin-top: 12px;
  line-height: 1.6;
}

.p-header {
  background-color: #a6c78e;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 60px 30px;
  gap: 30px;
  background: #fdfdfd;
}
.p-header__title {
  font-size: 36px;
  color: #333;
  font-family: "マキナス 4 Flat";
}
.p-header__title img {
  width: 100%;
}

.p-header__list {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 24px 0;
  background-color: #4e5359;
}
@media (max-width: 767px) {
  .p-header__list {
    display: none;
  }
}

.cat-item {
  font-size: 18px;
}
.cat-item a {
  color: #fff;
}

.p-header__menu__sp {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  right: -100%;
  z-index: 10;
  transition-duration: 0.3s;
  background: #fff;
}

.is-visible {
  right: 0%;
  width: 100%;
  height: 100vh;
}

.p-header__menu__heading__sp {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #77254d;
  margin-top: 60px;
  position: absolute;
  bottom: 80px;
}

.p-header__list__sp {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
  padding: 60px 0 0;
  width: 77%;
}
.p-header__list__sp .cat-item {
  border-bottom: 1px solid #b9b9b9;
  padding-bottom: 16px;
}
.p-header__list__sp .cat-item a {
  list-style: none;
  font-size: 18px;
  color: #77254d;
}

.p-post__wrap {
  width: calc(100% - 40px);
  min-width: 867px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin-top: 20px;
  padding: 40px 20px;
  border-radius: 10px;
  background: #fdfdfd;
}
@media (max-width: 1300px) {
  .p-post__wrap {
    min-width: unset;
  }
}
@media (max-width: 1170px) {
  .p-post__wrap {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .p-post__wrap {
    gap: 12px;
  }
}

.p-post {
  width: calc(50% - 13px);
  display: flex;
  position: relative;
}
.p-post a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (max-width: 1170px) {
  .p-post a {
    flex-direction: unset;
    gap: 12px;
  }
}
@media (max-width: 1170px) {
  .p-post {
    width: 100%;
  }
}
.p-post__title__wrap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.p-post__image {
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-radius: 10px;
}
.p-post__image img {
  transition-duration: 0.2s;
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 1170px) {
  .p-post__image img {
    height: 120px;
    width: 220px;
  }
}
@media (max-width: 767px) {
  .p-post__image img {
    height: 80px;
    width: 120px;
  }
}
@media (max-width: 1170px) {
  .p-post__image {
    width: unset;
    height: 120px;
    min-width: 220px;
  }
}
@media (max-width: 767px) {
  .p-post__image {
    height: 80px;
    min-width: 120px;
  }
}
.p-post__image:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}

.p-post__title {
  font-size: 18px;
  padding: 10px;
  flex-grow: 1;
  z-index: 0;
  color: #333;
}
@media (max-width: 767px) {
  .p-post__title {
    font-size: 16px;
    padding: 8px 0;
  }
}

.p-sort__heading {
  font-size: 24px;
  text-align: center;
}

.p-sort__list {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.p-sort__item {
  font-size: 18px;
}

.p-single__info__wrap {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 10px;
}

.c-common__heading__wrap {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.c-common__heading {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.c-common__heading__text {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}
.c-common__heading__text + .c-common__heading__text {
  margin-top: 10px;
}

.p-post__category {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 10px 0 0 0;
}
.p-post__category a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  transition-duration: 0.3s;
}
@media (max-width: 1170px) {
  .p-post__category a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .p-post__category a {
    padding: 6px 10px;
    font-size: 12px;
  }
}
.p-post__category:hover {
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.8);
}
.p-post__category:hover a {
  color: #333;
}

.p-pickup__title__wrap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.p-pickup {
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 8px 18px 0px rgba(166, 199, 142, 0.2);
  background: #fdfdfd;
}
@media (max-width: 767px) {
  .p-pickup {
    display: none;
  }
}

.p-pickup__content {
  width: 25%;
  border-radius: 10px;
  display: flex;
}
.p-pickup__content a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.p-pickup__content:hover img {
  transform: scale(1.1);
}
.p-pickup__content:hover .pickup__title, .p-pickup__content .pickup__info {
  opacity: 0.3;
}

.p-pickup__image {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.p-pickup__image img {
  transition-duration: 0.3s;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 1170px) {
  .p-pickup__image img {
    height: 120px;
  }
}

.p-pickup__title {
  margin-top: 10px;
  line-height: 1.7;
  color: #333;
}

.p-pickup__info {
  color: #333;
}

.p-sidebar {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 30px;
}
@media (max-width: 1300px) {
  .p-sidebar {
    margin: 60px 0 0;
  }
}

.p-sidebar__profile {
  background-color: #fdfdfd;
  border-radius: 10px;
}

.p-sidebar__profile__bg {
  background: url(../img/03.jpg) no-repeat center center;
  width: 100%;
  height: 130px;
  border-radius: 10px 10px 0 0;
}

.p-sidebar__profile__image {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 47px;
  border-radius: 10px;
}
.p-sidebar__profile__image img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.p-sidebar__profile__info {
  margin-top: 70px;
  padding: 20px 20px 0 20px;
}

.p-sidebar__profile__name {
  text-align: center;
  font-size: 20px;
}

.p-sidebar__profile__job {
  text-align: center;
  font-size: 13px;
}

.p-sidebar__profile__text {
  margin-top: 10px;
}

.p-sidebar__profile__sns__list {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.p-sidebar__profile__sns__item {
  font-size: 16px;
}

.p-sidebar__post a {
  display: flex;
  margin-top: 10px;
  max-height: 85px;
}
.p-sidebar__post + .p-sidebar__post {
  margin-top: 16px;
}

.p-sidebar__post__image img {
  width: 140px;
  height: 85px;
  object-fit: cover;
  border-radius: 10px;
}

.p-sidebar__post__title {
  padding: 0 0 0 10px;
  font-size: 14px;
  color: #333;
}

.p-sidebar__post__block {
  background-color: rgba(255, 245, 245, 0.99);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 18px 0px rgba(166, 199, 142, 0.2);
  background: #fdfdfd;
}

footer {
  padding: 40px 0;
  text-align: center;
  font-size: 16px;
  color: #333;
  background: #fdfdfd;
  box-shadow: inset 0px 7px 65px 5px rgba(0, 0, 0, 0.13);
}

.p-footer__link__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 60px;
}

.p-single {
  width: calc(100% - 48px);
  height: fit-content;
  min-width: 843px;
  background-color: rgba(255, 245, 245, 0.99);
  padding: 30px;
  background: #fdfdfd;
}
@media (max-width: 1300px) {
  .p-single {
    min-width: unset;
    width: unset;
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .p-single {
    padding: 12px;
  }
}
.p-single ol {
  counter-reset: count 0;
  list-style-type: none;
}
.p-single li {
  font-size: 18px;
  position: relative;
  margin-left: 1.4em;
  text-indent: -1.6em;
  color: #77254d;
}
.p-single li::before {
  counter-increment: count 1;
  content: counters(count, "-") ". ";
  padding: 0;
  color: #77254d;
  font-size: 22px;
}
.p-single li ol {
  padding: 0;
}
.p-single li + li {
  margin-top: 14px;
}

.p-index__item {
  font-size: 18px;
  color: #77254d;
  list-style-type: none;
}
.p-index__item + ol {
  margin: 10px 0;
}
.p-index__item + ol li {
  font-size: 16px;
  margin-top: 0;
}

.tocLink {
  color: #77254d;
}

.p-single__title {
  font-size: 22px;
}

.p-single__image {
  width: 100%;
  margin-top: 40px;
}
.p-single__image img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .p-single__image img {
    height: 250px;
  }
}

.p-post__text__area {
  margin: 40px 0 40px;
}

.p-single__h3 {
  margin-top: 40px;
  font-size: 26px;
  font-weight: bold;
  color: #77254d;
}
@media (max-width: 767px) {
  .p-single__h3 {
    font-size: 22px;
  }
}

.p-single__h4 {
  margin-top: 26px;
  font-size: 22px;
  color: #77254d;
  padding-left: 6px;
  border-left: 8px #77254d;
  border-style: double;
}
@media (max-width: 767px) {
  .p-single__h4 {
    font-size: 20px;
  }
}

.p-single__text {
  font-size: 16px;
  margin-top: 14px;
  line-height: 1.7;
  position: relative;
}

.p-single__marker {
  background: linear-gradient(transparent 66%, #efabab 0%);
  display: inline;
  padding: 0 2px 1px;
}

.p-index {
  border: 1px solid #77254d;
  padding: 20px;
}

.p-index__heading {
  display: flex;
  gap: 10px;
}
.p-index__heading span {
  font-size: 24px;
  color: #77254d;
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: bold;
}

.p-index__list {
  list-style: decimal;
  padding: 20px 0 0 27px;
}
@media (max-width: 767px) {
  .p-index__list {
    padding: 20px 0 0;
  }
}

.p-index__item {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.p-index__item a {
  text-decoration: none;
  color: #77254d;
}

.p-index__list__sub {
  padding-left: 20px;
  list-style-type: decimal;
}

.p-index__item__sub {
  margin-top: 10px;
  font-size: 18px;
}

.wp-caption.alignnone {
  width: 100%;
  margin-top: 20px;
}

.p-single__add__image {
  width: 100%;
  height: fit-content;
  max-height: 412px;
  object-fit: cover;
}

.p-single__add__image__full {
  width: 100%;
  height: fit-content;
  max-height: 412px;
  object-fit: cover;
  margin-top: 20px;
}

.p-single__add__image__meddle {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.p-single__add__image__meddle img {
  width: 42%;
  height: fit-content;
}

.p-single__list__disc {
  list-style: disc;
}

.p-slider {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.p-slider__focus {
  position: relative;
  overflow: hidden;
  border: solid 14px #333;
  height: 400px;
}
@media (max-width: 767px) {
  .p-slider__focus {
    height: unset;
  }
}

.p-slider__wrap {
  display: flex;
  position: relative;
  height: -webkit-fill-available;
}

.p-slider__slide {
  position: relative;
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .p-slider__slide {
    width: 100%;
    height: 210px;
  }
}
.p-slider__slide img {
  object-fit: cover;
}
@media (max-width: 767px) {
  .p-slider__slide img {
    height: auto;
  }
}

.p-indicator {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
@media (max-width: 1170px) {
  .p-indicator {
    flex-wrap: wrap;
  }
}

.p-indicator__slide {
  height: 70px !important;
  width: 15% !important;
  object-fit: cover;
}
@media (max-width: 767px) {
  .p-indicator__slide {
    height: 45px !important;
    width: 16% !important;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  margin: auto;
  position: absolute;
  bottom: 50%;
  left: 20px;
  transform: translate(0%, -50%);
  background-color: transparent;
  z-index: 9999;
}

.nav .prev,
.nav .next {
  border-radius: 50%;
  width: 41px;
  height: 41px;
  background-color: rgba(31, 26, 26, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .nav .prev,
.nav .next {
    width: 27px;
    height: 27px;
  }
}

.nav .prev .triangle {
  margin-left: 4px;
  border-style: solid;
  border-width: 7px 0 8px 10.7px;
  border-color: transparent transparent transparent #ffffff;
  transform: rotate(180deg);
  position: relative;
  left: -4px;
}

.nav .next .triangle {
  margin-left: 4px;
  border-style: solid;
  border-width: 7px 0 8px 10.7px;
  border-color: transparent transparent transparent #ffffff;
}

.is-active {
  border: 2px solid #77254d;
  box-sizing: border-box;
  opacity: 0.9;
}

.p-slider__heading {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.p-index__heading__icon {
  width: 30px;
  height: 30px;
}
.p-index__heading__icon img {
  width: 30px;
  height: 30px;
}

.p-post__pagination {
  margin: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .p-post__pagination {
    margin: 30px 0;
    flex-direction: column;
  }
}

.p-post__pagination__left,
.p-post__pagination__right {
  width: 50%;
  position: relative;
}
@media (max-width: 767px) {
  .p-post__pagination__left,
.p-post__pagination__right {
    width: 100%;
  }
}

.p-post__pagination__heading {
  position: absolute;
  top: -14px;
  z-index: 1;
  color: #fff;
  font-size: 14px;
  background-color: #333;
  padding: 5px 10px;
  transform: translate(0%, 50%);
}

.p-post__pagination__left .p-post__pagination__heading {
  left: 0;
}

.p-post__pagination__right .p-post__pagination__heading {
  right: 0;
}

.p-post__pagination__left__img,
.p-post__pagination__right__img {
  display: block;
  height: 150px;
  background-color: #666;
}

.p-post__pagination__left__img > img,
.p-post__pagination__right__img > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  opacity: 0.3;
}

.p-post__pagination__left__text,
.p-post__pagination__right__text {
  position: absolute;
  top: 45%;
  left: 45px;
  z-index: 999;
  color: #fff;
  font-size: 18px;
  transform: translate(-6%, -20%);
}
@media (max-width: 767px) {
  .p-post__pagination__left__text,
.p-post__pagination__right__text {
    font-size: 16px;
  }
}

form {
  background-color: rgba(255, 245, 245, 0.99);
  padding: 60px 20px;
}

.p-contact {
  margin-top: 20px;
}

.p-contact form {
  background: radial-gradient(#ffffff 0% 3%, rgba(255, 249, 230, 0.9803921569) 127% 60%);
  box-shadow: inset 0px 7px 65px 5px rgba(0, 0, 0, 0.1);
}

#comments form {
  background-color: unset;
}

.p-contact__wrap {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.p-contact__input__wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .p-contact__input__wrap {
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    width: 100%;
  }
}

.p-contact__label {
  width: 200px;
  display: block;
}

.c-sns {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  margin-top: 100px;
}
.c-sns::after {
  content: "shareしてね！";
  font-size: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: -21px;
  left: 50%;
}

.c-sns__item {
  border-radius: 8px;
  transition-duration: 0.2s;
  position: relative;
  will-change: transform;
  bottom: 0;
}
.c-sns__item:hover {
  opacity: 0.8;
  bottom: 3px;
}
.c-sns__item a {
  gap: 6px;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  text-decoration: none;
  color: #77254d;
}
@media (max-width: 767px) {
  .c-sns__item span {
    display: none;
  }
}
.c-sns__item:hover {
  opacity: 0.7;
}

.c-sns__icon {
  width: 34px;
  height: 34px;
}

.sidebar__profile__sns__tem a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  padding: 4px;
  border-radius: 50%;
  background-color: #333;
  transition-duration: 0.2s;
}
.sidebar__profile__sns__tem a:hover {
  opacity: 0.8;
}
.sidebar__profile__sns__tem a img {
  width: 24px;
  height: 24px;
}

.c-common__slider {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  height: 300px;
}

.c-common__slider__wrap {
  position: relative;
}

.c-common__slider__focus {
  position: absolute;
  width: 400px;
  height: fit-content;
  transform: translate(50%, 50%);
}

.p-tab__categories {
  display: flex;
  width: 100%;
}
@media (max-width: 1170px) {
  .p-tab__categories {
    flex-wrap: wrap;
  }
}

.p-tab__categories__block {
  width: 25%;
  border: 1px solid #333;
  background-color: #fff;
  margin: 0 0 -1px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 6px;
  cursor: pointer;
}
.p-tab__categories__block:hover {
  background-color: #333;
}
.p-tab__categories__block:hover .p-tab__categories__block__title {
  color: #fff;
}
@media (max-width: 1170px) {
  .p-tab__categories__block {
    width: calc(50% - 34px);
  }
}

.p-tab__categories__block__image {
  width: 30px;
  height: 30px;
}

.p-tab__categories__block__title {
  font-size: 18px;
  font-family: "Passion One", sans-serif;
  color: #333;
  transition-duration: 0.3s;
  padding-top: 4px;
}

.pagination {
  margin: 40px 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pnavi {
  display: flex;
  gap: 10px;
}

.nav-links {
  display: flex;
}

.pagination .page-numbers {
  display: inline-block;
  padding: 15px 20px;
  color: #333;
  border-radius: 3px;
  background: #fff;
  box-shadow: inset -5px -5px 10px 0px rgba(145, 112, 126, 0.5), inset 5px 5px 10px 0px rgba(145, 112, 126, 0.6);
}
@media (max-width: 767px) {
  .pagination .page-numbers {
    padding: 10px 15px;
  }
}

.pagination .current {
  padding: 15px 20px;
  background: rgb(106, 164, 97);
  color: #fff;
}
@media (max-width: 767px) {
  .pagination .current {
    padding: 10px 15px;
  }
}

.pagination .prev,
.pagination .next {
  background: transparent;
  box-shadow: none;
  color: #69a4db;
}

.pagination .dots {
  background: transparent;
  box-shadow: none;
}

.is-hamburger {
  display: none;
}
@media (max-width: 767px) {
  .is-hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 1000;
  }
  .is-hamburger span {
    transition-duration: 0.3s;
    width: 20px;
    height: 0;
    border: 2px solid #333;
    position: absolute;
  }
  .is-hamburger span:nth-child(1) {
    top: 0;
  }
  .is-hamburger span:nth-child(2) {
    top: 10px;
  }
  .is-hamburger span:nth-child(3) {
    top: 20px;
  }
}

.is-open span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
  left: 4px;
}
.is-open span:nth-child(2) {
  left: 130px;
  transform: rotate(100deg);
  opacity: 0;
}
.is-open span:nth-child(3) {
  top: 14px;
  transform: rotate(135deg);
  left: 4px;
}

.u-mt10 {
  margin-top: 10px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt30 {
  margin-top: 30px;
}

.u-mt40 {
  margin-top: 40px;
}

.u-mt50 {
  margin-top: 50px;
}

.u-mt60 {
  margin-top: 60px;
}

.u-text-right {
  text-align: right;
}

.screen-reader-response {
  display: none;
}

.wpcf7-response-output {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  color: #b54545;
}

.wpcf7-form-control-wrap {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .wpcf7-form-control-wrap {
    gap: 10px;
    width: 100%;
  }
}

.wpcf7-not-valid-tip {
  color: #b54545;
}

.wpcf7-form-control {
  border: 1px solid #668191;
  border-radius: 8px;
  font-size: 16px;
  padding: 16px 24px;
  width: 400px;
}
@media (max-width: 767px) {
  .wpcf7-form-control {
    width: auto;
  }
}

.p-contact input[type=submit] {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  border: 1px solid #77ad7d;
  background-color: #77ad7d;
  border-radius: 8px;
  font-size: 18px;
  padding: 16px 24px;
  width: 400px;
}
@media (max-width: 767px) {
  .p-contact input[type=submit] {
    width: 85%;
  }
}

.wpcf7-textarea {
  width: 400px;
}
@media (max-width: 767px) {
  .wpcf7-textarea {
    width: auto;
  }
}

.is-tab {
  display: none;
}

.is-tab__active {
  background-color: #333;
}
.is-tab__active .p-tab__categories__block__title {
  color: #fff;
}

.is-show {
  display: block;
}

.comment-respond {
  margin-top: 40px;
}

.logged-in-as {
  display: none;
}

.comment-reply-title {
  text-align: center;
  font-size: 24px;
}

.comment-form {
  padding: 20px;
}

.comment-form-comment textarea {
  width: -webkit-fill-available;
  border: 1px solid #668191;
  border-radius: 8px;
  font-size: 16px;
  padding: 16px 24px;
}

.form-submit {
  margin-top: 10px;
  text-align: center;
}
.form-submit .submit {
  color: #fff;
  border: 1px solid #77ad7d;
  background-color: #77ad7d;
  border-radius: 8px;
  font-size: 18px;
  padding: 16px 24px;
  width: 400px;
}
@media (max-width: 767px) {
  .form-submit .submit {
    width: 85%;
  }
}

.commets-list {
  counter-reset: count 0;
}
.commets-list li {
  text-indent: unset;
  margin-left: 2.4em;
}
@media (max-width: 767px) {
  .commets-list li {
    margin-left: 1.5em;
  }
}
.commets-list li::before {
  counter-increment: count 1;
  content: counters(count, "-") ". ";
  position: absolute;
  left: -25px;
  top: 9px;
}

/*# sourceMappingURL=style.css.map */
